<%- include('partials/head') %>
<div style="background-color: lightblue; padding: 10px;">
    <a href="/clothing" style="text-decoration: none; font-weight: 500;">View Favorite List ►</a>
</div>
    <h1>Welcome to the Clothing Store!</h1>
    <p>An app for browsing your favorite collection of trendy wears.</p>

<%- include('partials/footer') %>


