<%- include('../partials/head') %>

<div class="top-nav">
    <a href="/clothing/new">Add Item ►</a>
</div>
    <h2>Favorite List</h2>
    <ul>
      <% clothing.forEach(cloth => { %>
        <li><a href="/clothing/<%= cloth._id %>"><%= cloth.name %></a></li>
      <% }); %>
    </ul>

<%- include('../partials/footer') %>

